/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 *= require foundation_and_overrides
 */

 @import 'react-select/dist/react-select.css';


html{
  margin: 0em 1em 0em 1em;
}

#google-sign-in{
  border-color: black;
  border-radius: 10px;
}

.google {
  float: right;
  }


body {
  background-color: #81979b;
}


form {
 font-family: 'Oswald', sans-serif;
}


.hvr-bounce-in {
 display: inline-block;
 vertical-align: middle;
 -webkit-transform: perspective(1px) translateZ(0);
 transform: perspective(1px) translateZ(0);
 box-shadow: 0 0 1px transparent;
 -webkit-transition-duration: 0.5s;
 transition-duration: 0.5s;
}

.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
 -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
 transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.button {
  margin: 0px 3px 0px 0px;
}

  /* .pedalBoardTile img {
    max-width: 280px;
    max-height:200px;
    margin-bottom: 3px;
  } */

  /* .pedalTile{
    font-family: 'Oswald', sans-serif;
    /* font-weight: bold; */
    /* text-align: center;
     border: 3px double  #442725;
     padding: 10px;
  }  */

  /* img {
    max-height: 100%;
    max-width: 100%;
  } */

   /* .pedalTile img {
     max-width: 200px;
     max-height:120px;
     margin-bottom: 3px;
  } */
