/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 *= require foundation_and_overrides
 */
html{
  margin: 0em 1em 0em 1em;
}

.title {
  font-family: serif;
  font-size: 5em;
  text-align: left;
  color: #83765E;
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
           }

.top-bar {
  background:none;
  text-align: center;
}

h2{
  color: #A97C4E;
}

body  {
background-color: black;
background: url('tone-quest-background.jpg') no-repeat center center fixed;
background-size: cover;
 width: 100%;
}

 h1{
  color: #726D55;
  text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;
}

.title h1 {
  font-family: serif;
  text-align: center;
  color: #83765E;
}


form.new-pedal-form.callout{
  width: 30em;
}

 p{
   color:white;
 }

 .PedalShowImg img{
  float:center;
  border: 3px double white;
  max-width: 30rem;
  max-height:30rem;
  margin-bottom: 5px;
}

.pedalTile{
  /* border: 3px solid white; */
  text-align: center;
   border: 3px double  #442725;
   padding: 10px;
   /* margin: 2px; */
}

img {
  max-height: 100%;
  max-width: 100%;
}
 .pedalTile img {
  /* border: 3px solid white; */
   max-width: 200px;
   max-height:120px;
   margin-bottom: 3px;
   /* box-shadow: 10px 10px 20px #aaa; */
}
