/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 *= require foundation_and_overrides
 */


/* .pedalboard-container{
  background: url('Pedal-icon-white.png') no-repeat center center;
  border: 3px double white;
  background-size: cover;
  max-width: 280px;
  max-height:200px;
  margin-bottom: 3px;
} */

/* .review-box{
  text-align: center;
  border: 3px solid white;
} */

 #pagination {
   text-align: center;
   padding: 10px;
 }

 #page-number-container {
   display: inline-block;
   margin: auto;
 }

#nav-bar{
  background-color: #c59292;
  border-style: solid;
  border-radius: 2rem;
  padding: 17px;
  margin-bottom: 20px;
}

  html{
    margin: 0em 1em 0em 1em;
  }

  .menu a{
    font-family: fantasy;
    color: white;
    font-size: 20px;
  }

  .menu a:hover{
    color: #000000;
  }

  a.active{
    color: #000000;
    text-decoration: underline;
  }
#google-sign-in{
  border-color: black;
  border-radius: 10px;
}

.google {
  float: right;
  }


  .title {
    font-family: serif;
    font-size: 5em;
    text-align: left;
    /* color: #83765E; */
    color: #170c0c;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
               0 3px 0 #777777, 0 4px 0 #666666,
               0 5px 0 #555555, 0 6px 0 #444444,
               0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
               0 9px 10px rgba(0, 0, 0, 0.2);
             }

  .top-bar {
    background:none;
    text-align: center;
  }



  body  {
  background-color: #81979b;
  }
  /* background: url('tone-quest-background.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
   /* width: 100%;
  } */



  .title h1 {
    font-family: serif;
    text-align: center;
    color: #83765E;
  }

  form{
    margin: 2em 15rem  1rem 15rem;
    font-family: 'Oswald', sans-serif;
  }

  p{
    color:white;
   }

   .hvr-bounce-in {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px transparent;
     -webkit-transition-duration: 0.5s;
     transition-duration: 0.5s;
   }

   .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
     -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
     transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
   }


   .PedalShowImg{
     text-align: center;
   }


  .pedalboard{
  background: url('terra.png') no-repeat center center;
  height: 40em;
  width: 100%
}

  .pedalBoardTile  {
    display:inline-block;
    text-align: center;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    margin: 1px;
  }

  .pedalBoardTile img {
    max-width: 280px;
    max-height:200px;
    margin-bottom: 3px;
  }

  .pedalTile{
    font-family: 'Oswald', sans-serif;
    /* font-weight: bold; */
    text-align: center;
     border: 3px double  #442725;
     padding: 10px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

   .pedalTile img {
     max-width: 200px;
     max-height:120px;
     margin-bottom: 3px;
  }

  .button {
    margin: 0px 3px 0px 0px;
  }
