#nav-bar{
  background-color: #c59292;
  border-style: solid;
  border-radius: 2rem;
  padding: 17px;
  margin-bottom: 20px;
}

.menu a{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 20px;
  margin-right: 30px;
  box-shadow: 1px 3px 5px black;
}


.menu a:hover{
  color: #000000;
}

.menu a.active {
  color: #000000;
  text-decoration: underline;
}



.title {
  font-family: serif;
  font-size: 5em;
  text-align: left;
  /* color: #83765E; */
  color: #170c0c;
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
           }
