.pedalboard {
background: url('terra.png') no-repeat center center;
height: 40em;
width: 100%
}

.pedalBoardTile {
  display:inline-block;
  text-align: center;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  margin: 1px;

  p {
    color: white;
  }
}

.pedalBoardTile img {
  max-width: 280px;
  max-height:200px;
  margin-bottom: 3px;
}
