.pedalboard {
background: url('terra.png') no-repeat center center;
height: 40em;
width: 100%;
margin-top: 15px;
}

.pedalBoardTile {
  display:inline-block;
  text-align: center;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  margin: 1px;

  p {
    color: white;
  }
}

.pedalBoardTile img {
  max-width: 280px;
  max-height:200px;
  margin-bottom: 3px;
}

#save-button{
  border-color: black;
  border-radius: 10px;
  box-shadow: 2px 2px black;
  float:right;
  // margin: 0em 5em 25em 4em;
  &:hover{
    background-color: #cfd7ea;
  }
}
