.pedalContainerTile {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  padding-top: 80px;
  height: 200px;
  background-color: none;
  border: 3px double  #170c0c;

  p {
    color: #10100fcf;
    // text-shadow: 0px 1px 4px black;
    box-shadow: 1px 1px 5px black;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #dcd5ce;
    border-radius: 10px;

    &:hover{
      color: #10100fcf;
    }
  }

}
